*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
body{
    overflow-x: hidden;
    background: linear-gradient(to right, #e004d5, #ff1414);    
}

nav{
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    background-color: black;
    padding-bottom: 0px;
    
}
.nav-menu{
    position: relative;
    display: flex;
    justify-content: center;
    top: 15px;
    width: 1px;
    border-left: #333131 solid 2px;
    margin-bottom: 15px;
    margin-left:14%;
    height: 30px;
    padding-left: 8%;
    padding-top: 30px;
    
}

h1{
    position: relative;
    top: 14px;
    left: 7%;
    flex-shrink: 0;
}
#box-start{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.45);
    border: #333131 solid 1px;
    width:130px;
    padding: 3% 2% 4% 2%;
    margin:25% 5% 0% 4%;
    text-align: center;
    justify-items: center;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);;
}
span{
    color: rgb(255, 255, 255);
    transition: color 0.3s ease
}
button{
    padding-left: 50%;
    padding: 26%;
    margin-top: 23px;
    background-color: black;
    border-radius: 5% 15%;
    border: gray solid 2px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease,transform 0.3s ease, border-radius 0.3s ease;

}
button:hover{
    color:silver;
    transform: scale(110%);
    border-radius: 15% 5% ;
}
button:hover span{
    color: gold;
    transform: scale(110%);
    border-radius: 15% 5% ;
}