#aguarde{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
}

.ligado{
    opacity: 1;
    display: flex;
}
.desligado{
    opacity: 0;
    display: none;
}