<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <link rel="stylesheet" href="..\styles\tutorial.css">
    <link rel="stylesheet" href="..\styles\style-game.css">
</head>
<header>

</header>



<body>
    <section id="jogadores">
        <h3 id="menu">menu</h3>
        <div>
            <h3 id="jogador2" onclick="selecionar_p(this.innerText)">jogador-2</h3>
            <h3 id="jogador1" onclick="selecionar_p(this.innerText)">jogador-1</h3>
        </div>
    </section>


    <section id="interaction">
        <div id="inventario">
            <h3>inventario</h3>
            <div id="cartas_especiais">
                <div class="carta_especial" onclick="usar_trunfo(this.innerText)">
                    cartas especiais
                </div>
                <div class="carta_especial" onclick="usar_trunfo(this.innerText)">
                    cartas especiais
                </div>
                <div class="carta_especial" onclick="usar_trunfo(this.innerText)">
                    cartas especiais
                </div>
                <div class="carta_especial" onclick="usar_trunfo(this.innerText)">
                    cartas especiais
                </div>
                <div class="carta_especial" onclick="usar_trunfo(this.innerText)">
                    cartas especiais
                </div>
            </div>
            <div id="descrição_carta">
                <p>descrição da carta</p>
            </div>
        </div>

        <div id="table">
            <h3>Table</h3>
            <div id="mesa-cartas">

                <div class="p1-carteira" id="00"></div>
                <div class="p1-carteira" id="01"></div>
                <div class="p1-carteira" id="02"></div>
                <div class="p1-carteira" id="03"></div>
                <div class="p1-carteira" id="04"></div>
                <div class="p1-carteira" id="05"></div>

                <div id="vida1">❤️5</div>

                <div id="ativabet1">
                    <div class="carta_especial"></div>
                </div>

                <div id="ativamax1">
                    <div class="carta_especial"></div>
                </div>

                <div id="baralho" onclick="mais_uma()">
                    <div class="carta_pbaixo"></div>
                    <div class="carta" id="bcard">?</div>
                </div>
                <div id="contador_d">
                    <div id="ct1">💣-1</div>
                    <div id="ct2">🩹+1</div>
                </div>
                <div id="limite-tempo">
                    <div id="timer">⏲️ 0:00</div>
                    <div id="limite">🃏 0/21</div>
                </div>

                <div id="ativabet2">
                    <div class="carta_especial"></div>
                </div>

                <div id="ativamax2">
                    <div class="carta_especial"></div>
                </div>

                <div id="vida2">💙5</div>


                <div class="p2-carteira" id="10"></div>
                <div class="p2-carteira" id="11"></div>
                <div class="p2-carteira" id="12"></div>
                <div class="p2-carteira" id="13"></div>
                <div class="p2-carteira" id="14"></div>
                <div class="p2-carteira" id="15"></div>

            </div>
        </div>
    </section>
</body>
<script>
    const socket = io('http://localhost:5000');
    roundp = 0
    let i1 = 9
    let i2 = -1

    // if (Cookies.get(''))

    

    window.onload = socket.on('connect', () => {
        socket.send('Usuário conectado ao socket!');
        socket.emit('start_timer');
        socket.emit('')

        

    });

    

    socket.on('timer', (data) => {
        document.getElementById('timer').innerText = `⏲️ ${data}`;
    });
    socket.on('start', (numero_da_carta) => {
        console.log()
    })

    function mais_uma() {
        socket.emit('deal');
    }

    function trocar_jogador(){
        if(roundp == 0){
            roundp++
        }else{roundp--}
    }

    socket.on('dei', numero_da_carta =>{
        if(roundp){
            i1++
            trocar_jogador()
            console.log(String(numero_da_carta));
            const novaDiv = document.createElement('div');
            novaDiv.className = 'carta';
            novaDiv.innerText = numero_da_carta.numero_da_carta;
            if (i1 == 10) {
                novaDiv.className = 'carta_pbaixo'
            }
            document.getElementById(String(i1)).appendChild(novaDiv);
        }else{
            i2++
            trocar_jogador()
            console.log(String(numero_da_carta));
            const novaDiv = document.createElement('div');
            novaDiv.className = 'carta';
            novaDiv.innerText = numero_da_carta.numero_da_carta;
            if (i2 == 10) {
                novaDiv.className = 'carta_pbaixo'
            }
            document.getElementById("0"+String(i2)).appendChild(novaDiv);
        }
    })


    function usar_trunfo(nome_trunfo) {
        console.log(nome_trunfo)
    }


    p = 0

    rmp1 = socket.on('delete_player1',()=> {
        document.getElementById('jogador1').remove()
        
    })
    rmp2 = socket.on('delete_player2',()=> {
        document.getElementById('jogador2').remove()
    })
    rmp = socket.on('delete_players',()=>{
        document.getElementById('jogadores').remove()
        
    })
    
        
    function selecionar_p(player) {
        if(player == 'jogador-1'){player = 'jogador1'}
        else if(player == 'jogador-2'){player = 'jogador2'}
        socket.emit('selecionar_p', { player: player }, () => {
            p++

            if (p == 2) {
                rmp()

            }
            if (player == 'jogador2') {
                Cookies.set('player2', 'player2')
                rmp2()
                rmp()
            }

            else if (player == 'jogador1') {
                Cookies.set('player1', 'player1')
                    document.getElementById('00').className = 'p2-carteira'
                    document.getElementById('01').className = 'p2-carteira'
                    document.getElementById('02').className = 'p2-carteira'
                    document.getElementById('03').className = 'p2-carteira'
                    document.getElementById('04').className = 'p2-carteira'
                    document.getElementById('05').className = 'p2-carteira'

                    document.getElementById('10').className = 'p1-carteira'
                    document.getElementById('11').className = 'p1-carteira'
                    document.getElementById('12').className = 'p1-carteira'
                    document.getElementById('13').className = 'p1-carteira'
                    document.getElementById('14').className = 'p1-carteira'
                    document.getElementById('15').className = 'p1-carteira'
                    rmp1()
                    rmp()
    
            }
        })
    }

    window.onload = ()=>{
        if ((Cookies.get('player2') || Cookies.get('player1')) && document.getElementById('jogadores') ){

            document.getElementById('jogadores').remove()
        };
    }

</script>


</html>