<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <link rel="stylesheet" href="..\styles\style-game.css">
</head>
<header>

</header>

<body>
    <section id="interaction">
        <div id="inventario">
            <h3>inventario</h3>
            <div id="cartas_especiais">
                <div class="carta_especial">
                    cartas especiais
                </div>
                <div class="carta_especial">
                    cartas especiais
                </div>
                <div class="carta_especial">
                    cartas especiais
                </div>
                <div class="carta_especial">
                    cartas especiais
                </div>
                <div class="carta_especial">
                    cartas especiais
                </div>
            </div>
            <div id="descrição_carta">
                <p>descrição da carta</p>
            </div>
        </div>
        <div id="table">
            <h3>Table</h3>
            <div id="mesa-cartas">

                <div class="p1-carteira" id="00"></div>
                <div class="p1-carteira" id="01"></div>
                <div class="p1-carteira" id="02"></div>
                <div class="p1-carteira" id="03"></div>
                <div class="p1-carteira" id="04"></div>
                <div class="p1-carteira" id="05"></div>

                <div id="vida2">❤️5</div>

                <div id="ativabet2">
                    <div class="carta_especial"></div>
                </div>

                <div id="ativamax2">
                    <div class="carta_especial"></div>
                </div>

                <div id="baralho" onclick="apertou()">
                    <div class="carta_pbaixo"></div>
                    <div class="carta">4</div>
                </div>
                <div id="contador_d">
                    <div id="ct1">💣-1</div>
                    <div id="ct2">🩹+1</div>
                </div>
                <div id="limite-tempo">
                    <div id="timer">⏲️ 1:30</div>
                    <div id="limite">🃏 3/21</div>
                </div>

                <div id="ativabet1">
                    <div class="carta_especial"></div>
                </div>

                <div id="ativamax1">
                    <div class="carta_especial"></div>
                </div>

                <div id="vida1">💙5</div>


                <div class="p2-carteira" id="10">
                    <div class="carta_pbaixo">2</div>
                </div>
                <div class="p2-carteira" id="11">
                    <div class="carta">1</div>
                </div>
                <div class="p2-carteira" id="12"></div>
                <div class="p2-carteira" id="13"></div>
                <div class="p2-carteira" id="14"></div>
                <div class="p2-carteira" id="15"></div>

            </div>
        </div>
    </section>
</body>
<script>
    const socket = io();
    let i = 11
    socket.on('connect', () => {
        socket.send('Usuário conectado ao socket!');
    });

    socket.on('timer', (data) => {
        document.getElementById('timer').innerText = `⏲️ ${data}`;
    });

    function apertou() {
        i++
        const novaDiv = document.createElement('div');
        novaDiv.className = 'carta';
        novaDiv.innerText = '4';
        document.getElementById(String(i)).appendChild(novaDiv);
    }
</script>


</html>