<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\styles\style-home.css">
    <title>2-enty-1</title>
</head>
<header>
    <nav>
        <h1>2-enty-1</h1>
        <div>
            <ul>
                <li>
                    <a href="http://">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="http://">
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="http://">
                        Linkedin
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <section>
        <div id="descricao">
            <p>
                mucho texto mucho texto mucho texto
                mucho textomucho textomucho texto
                mucho textomucho textomucho textomucho texto
                mucho textomucho textomucho texto
                mucho textomucho textomucho texto
            </p>
        </div>
        <div id="regras">
            <div id="playbottom">
                <label for="button">PLAY GAME</label>
                <a href="game-page.html">
                <button id="button" type="button">
                    Play
                </button>
            </a>
            </div>
            <p>
                mucho texto mucho texto mucho texto<br>
                mucho textomucho textomucho texto<br>
                mucho textomucho textomucho textomucho<br> texto
                mucho textomucho textomucho texto<br>
                
            </p>
            <p>
                mucho texto mucho texto mucho texto<br>
                mucho textomucho textomucho texto<br>
                mucho textomucho textomucho textomucho<br> texto
                mucho textomucho textomucho texto<br>
                
            </p>
            <p>
                mucho texto mucho texto mucho texto<br>
                mucho textomucho textomucho texto<br>
                mucho textomucho textomucho textomucho<br> texto
                mucho textomucho textomucho texto<br>
                
            </p>
        </div>
    </section>
</body>

</html>