<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="model paige" content="width=device-width, initial-scale=1.0">
    <title>Model page</title>
    <link rel="stylesheet" href="../static/css/model/header.css">
    <link rel="stylesheet" href="../static/css/model/model.css">
</head>

<body>
    <header>

        <container id="c1">
            <h1>SC21</h1>
            <nav>
                <h2 class="btn_nav" id="btn_nav1">coisa</h2>
                <h2 class="btn_nav" id="btn_nav2">coisa</h2>
                <h2 class="btn_nav" id="btn_nav3">coisa</h2>
                <h2 class="btn_nav" id="btn_nav4">coisa</h2>
                <h2 class="btn_nav" id="btn_nav5">coisa</h2>

            </nav>
        </container>
    </header>


    <container id="c2">
        
    </container>
    <container id="c3"></container>
    <container id="c4"></container>
</body>

</html>