<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="model paige" content="width=device-width, initial-scale=1.0">
    <title>Model page</title>
    <link rel="stylesheet" href="../static/css/model/header.css">
    <link rel="stylesheet" href="../static/css/model/main.css">
</head>

<body>
    <header>

        <div id="container-1">
            <h1>SC21</h1>
            <menu><img src="../static/images/Sem título.png" alt=""></menu>
            <nav>
                <h2 class="btn_nav" id="btn_nav1">coisa</h2>
                <h2 class="btn_nav" id="btn_nav2">coisa</h2>
                <h2 class="btn_nav" id="btn_nav3">coisa</h2>
                <h2 class="btn_nav" id="btn_nav4">coisa</h2>
                <h2 class="btn_nav" id="btn_nav5">coisa</h2>

            </nav>
        </div>
    </header>


    <div id="container-2">
        <section id="a">
            <iframe id="a1" 
                src="https://www.youtube.com/embed/Axa0jT_80Ag"
                title="Piruliru Baby- Arthur Gomes, Clebinho no Beat (CLIPE OFICIAL) #pirulirubaby #crianças #pirulitobaby"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3 id="a2" class="main-h3">lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum
                lore epsilum</h3>
        </section>

        <section id="b">
            <h3 id="b1" class="main-h3">lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum lore epsilum
                lore epsilum</h3>
            <button id="b2" type="button"><strong>PLAY</strong></button>
        </section>
    </div>
    <div id="container-3"></div>
    <div id="container-4"></div>
</body>

</html>